.race-detail-container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  background-color: var(--blue-3);
}

.race-detail-list {
  /* padding: 10px; */
  padding-bottom: 0.01px;
}

.race-detail-details {
  margin: 20px auto;
  width: max-content;
  text-align: center;
}
