.game-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.game-board-container {
  position: relative;
  top: 0;
  left: 0;
  height: 90vh;
  min-width: 700px;

  overflow: hidden;
}

.game-board {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 700px;
  height: 2000px;
  background-color: black;

  overflow: hidden;

  transition: margin 0.4s linear;
}

.game-board.canvas {
  background-color: transparent;
  z-index: 10;
  /* comment out the display: none; to view the collision boundaries */
  display: none;
}

.game-board-stars {
  position: absolute;
  left: 0;
  bottom: 0;

  height: 130%;
  width: 100%;

  background-image: url(./stars.PNG);
  background-size: 50%;
  background-repeat: repeat;

  transition: margin 0.4s linear;
}

.ship {
  position: absolute;
  top: 0;
  left: 0;

  width: max-content;
  height: max-content;

  transform: translate(-50%, -50%);

  transition: margin 0.4s linear, transform 0.2s;
}

.ship p {
  position: absolute;
  top: 100%;
  text-align: center;
  /* transform: translateX(-50%); */
  color: var(--dark-3);

  transition: transform 0.2s;
}

.ship img {
  height: 50px;

  /* filter: hue-rotate(180deg); */
}

.ship .overlay-image {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.asteroid {
  position: absolute;
  top: 0;
  left: 0;

  width: 50px;
  height: 50px;

  transform: translate(-50%, -50%);

  animation: spin 2s linear infinite;

  /* background-color: grey; */

  transition: margin 0.4s linear;

  display: flex;
  justify-content: center;
  align-items: center;
}

.asteroid img {
  width: 100%;
}

.position-container {
  position: relative;
  height: 90vh;
  width: max-content;
  min-width: 90px;

  margin-right: 10px;

  overflow: hidden;

  background-color: var(--dark-3);
}

.place-marker {
  position: absolute;
  left: 0;
  top: 0;

  margin-top: 90vh;
  margin-left: 10px;

  transition: margin 0.4s linear;
}

.timer-container {
  min-width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-container h1 {
  border-top: 4px solid var(--red-1);
  border-bottom: 4px solid var(--blue-1);
}

.game-controls-container {
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
