.game-board-container {
  position: relative;
  top: 0;
  left: 0;
  height: 90vh;

  overflow: hidden;
}

.game-board {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 700px;
  height: 2000px;
  background-color: black;

  overflow: hidden;

  transition: margin 0.2s;
}

.game-board-stars {
  position: absolute;
  left: 0;
  bottom: 0;

  height: 130%;
  width: 100%;

  background-image: url(./stars.PNG);
  background-size: 50%;
  background-repeat: repeat;

  transition: margin 0.2s;
}

.ship {
  position: absolute;
  top: 0;
  left: 0;

  width: max-content;
  height: max-content;

  transform: translate(-50%, -50%);

  transition: margin 0.2s, transform 0.2s;
}

.ship img {
  height: 50px;
}

.asteroid {
  position: absolute;
  top: 0;
  left: 0;

  width: 50px;
  height: 50px;

  background-color: grey;

  /* transition: margin 1s; */
}
