.leaderboard-header {
  margin: 15vh 0px 0px 0px;
  padding: 5px;
  text-align: center;
}

.leaderboard-container {
  background-color: var(--blue-3);
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding-bottom: 0.01px;
}
