.home-page-container {
  margin-top: 20vh;

  overflow: hidden;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slide-left {
  from {
    margin-right: -100%;
  }
  to {
    margin-right: 0%;
  }
}

.blue-header {
  position: relative;
  text-align: right;
  width: 80%;

  animation: slide-right 1s ease-out;
}

.blue-header h1 {
  padding-right: 30%;
}

.red-header {
  width: 70%;
  margin-left: auto;

  animation: slide-left 1s ease-out;
}

.red-header h1 {
  padding-left: 20%;
}

.sub-header {
  text-align: center;
  margin-top: 20vh;
}
